Options +FollowSymlinks -MultiViews
RewriteEngine on

RewriteCond %{REQUEST_URI} ^\/blog\/favicon\.ico$
RewriteRule ^(.*)$ $1 [L]

RewriteCond %{REQUEST_URI} !^\/blog\/index.php.*
RewriteCond %{REQUEST_URI} !^\/blog\/css.*
RewriteCond %{REQUEST_URI} ^\/blog\/[a-zA-Z]+\.css$
RewriteRule ^([^?]*)$ /blog/css/styles.css [NC,L,QSA]

RewriteCond %{REQUEST_URI} !^.*\/css\/.*
RewriteCond %{REQUEST_URI} !^\/blog\/index.php.*
RewriteRule ^([^?]*)$ /blog/index.php?path=$1 [NC,L,QSA]

ErrorDocument 404 /errors/404.php